
/* ................................body background................................. */
body{
    background-color: ;
}

/* ...................................bacon color...................................... */


.bacon{
    background-color: green;

}

/* ...................................brocoli color...................................... */

.brocoli{
    background-color: red;
}

/* ...................................image hover...................................... */

img:hover{
    background-color: gold;
}

/* ...................................image circular...................................... */


.circular
{
    border-radius: 100%;
}
/* ...................................heading font&color...................................... */


h1
{
    font-size: 50px;
    color: red;
}
/* ...................................heading id...................................... */

#heading{
    color: blue;
}